@import "fonts/icomoon";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;400;600&display=swap');


// Font stacks
$font-sans: "Lato", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-serif: "Lora", "Garamond", "Baskerville", "Times New Roman", serif;
$font-monospace: "Roboto Mono", "Menlo", "Monaco", "Consolas", "Courier New", monospace;

html {
	background-color: #fff;
	font-family: $font-sans;
	font-size: 16px;
	font-variant-ligatures: common-ligatures;
	line-height: 1.5;
}

:root {
	--font-sans: #{$font-sans};
	--font-serif: #{$font-serif};
	--font-mono: #{$font-monospace};
}

$color-white: #fff;
$color-black: #000;

@import "module-preloader";
